@import url(https://fonts.googleapis.com/css2?family=Mulish:wght@400;700&display=swap);
@import url(//db.onlinewebfonts.com/c/2c37f3699d9728b566e9bdc5b11e5180?family=BeaufortW01-Regular);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-family: "Mulish", sans-serif;
  scroll-behavior: smooth;
}

.main-title {
  display: flex;
  flex-direction: column;
}
.main-title :first-child {
  font-size: 24px;
  font-family: "Mulish", sans-serif;
  color: black;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
}
.main-title :nth-child(2) {
  font-family: "BeaufortW01-Regular", sans-serif;
  color: black;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 66px;
}

p {
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

span {
  font-weight: 400;
  font-size: 18px;
  color: #535659;
}

h2 {
  font-weight: 700;
  font-size: 24px;
  color: white;
}

#strong {
  font-size: 54px;
  font-weight: 700;
}

.home {
  padding: 3rem;
}
.home header .logo img {
  width: 83px;
  height: 33px;
}
.home .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.home .intro .intro-description {
  max-width: 35%;
  padding: 1.5rem;
}
.home .grid-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
}
.home .grid-list .wrap {
  height: 320px;
  width: 210px;
  position: relative;
}
.home .grid-list .wrap .image-container {
  width: 100%;
  height: 100%;
}
.home .grid-list .wrap .image-container img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center top;
     object-position: center top;
  height: 100%;
  width: 100%;
}
.home .grid-list .wrap .heading {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: #061C25;
  color: white;
  text-transform: uppercase;
}

.container {
  width: 100%;
  background: #000913;
  padding-top: 2rem;
  color: white;
}
.container .main .presentation .illustration {
  width: 100%;
  display: flex;
  justify-content: center;
}
.container .main .presentation .description .heading h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .main .presentation .description .heading h1 span {
  color: white;
  font-size: 46px;
}
.container .main .presentation .description .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.container .main .presentation .description .info .specs {
  padding: 1rem;
}
.container .main .presentation .description .info .specs .specs-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .main .presentation .description .info .specs .specs-item :first-child {
  color: #CFA75B;
  margin-bottom: 6px;
}
.container .main .presentation .description .info .specs .specs-item :nth-child(2) {
  color: white;
}
.container .main .presentation .description .info .lore {
  max-width: 450px;
  padding: 1rem;
  border-top: 2px solid #1C242C;
}
.container .main .presentation .description .spells .passive {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .main .presentation .description .spells .passive .passive-info {
  padding: 1rem 1.5rem;
}
.container .main .presentation .description .spells .passive .passive-info > * {
  margin: 0.5rem;
}
.container .main .presentation .description .spells .wrap {
  display: flex;
  flex-direction: column;
}
.container .main .presentation .description .spells .wrap .active {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .main .presentation .description .spells .wrap .active .active-info {
  padding: 1rem 1.5rem;
}
.container .main .presentation .description .spells .wrap .active .active-info > * {
  margin: 0.5rem;
}
